.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
grafting_test.R
.venv-chronosta
project/results/tact/Formicidae-complete-tact-biogeo-2Aug2026_rep*
project/results/tact/logs/tact_grafting_20260825*